In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc

rc('text', usetex=True)
rc('text.latex', preamble=r'\usepackage{cmbright}')
rc('font', **{'family': 'sans-serif', 'sans-serif': ['Helvetica']})

%matplotlib inline

# This enables SVG graphics inline. 
%config InlineBackend.figure_formats = {'png', 'retina'}

# JB's favorite Seaborn settings for notebooks
rc = {'lines.linewidth': 2, 
      'axes.labelsize': 18, 
      'axes.titlesize': 18, 
      'axes.facecolor': 'DFDFE5'}
sns.set_context('notebook', rc=rc)
sns.set_style("dark")

mpl.rcParams['xtick.labelsize'] = 16 
mpl.rcParams['ytick.labelsize'] = 16 
mpl.rcParams['legend.fontsize'] = 14

In [7]:
df = pd.read_csv('cdc_state_counts.csv')
pd.date.to_datetime(df.da)

AttributeError: 'Series' object has no attribute 'to_datetime'

In [4]:

for n, g in df.groupby('state')

   Unnamed: 0    state        date  outcome    population
0           1  Alabama  2017-01-14     1130  4.869441e+06
1           2  Alabama  2017-01-21     1048  4.869651e+06
2           3  Alabama  2017-01-28     1026  4.869861e+06
3           4  Alabama  2017-02-04     1036  4.870072e+06
4           5  Alabama  2017-02-11     1058  4.870282e+06